.DisplayButton{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.DisplayButton>div>button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    border: 0;
}


.DisplayButton1{
   display: flex;
   gap: 30px;   
}
.DisplayButton1>button:nth-child(1){
background-color: rgb(92, 92, 245);
}
.DisplayButton1>button:nth-child(2){
background-color: rgb(134, 134, 214);
}


.DisplayButton2{
   display: flex;
   gap: 30px;   
}
.DisplayButton2>button:nth-child(1){
background-color: rgb(230, 218, 118);
}
.DisplayButton2>button:nth-child(2){
background-color: rgb(238, 83, 44);
}


.DisplayButton3{
   display: flex;
   gap: 30px;   
}
.DisplayButton3>button:nth-child(1){
background-color: rgb(129, 216, 136);
}
.DisplayButton3>button:nth-child(2){
background-color: rgb(60, 60, 126);
}


.DisplayButton4{
   display: flex;
   gap: 30px;   
}
.DisplayButton4>button:nth-child(1){
background-color: rgb(240, 92, 245);
}
.DisplayButton4>button:nth-child(2){
background-color: rgb(94, 83, 92);
}